@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    @apply border-orange-900;
    @apply border-r-orange-200;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid;
    @apply border-orange-900;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* :root {
  --background: hsl(0, 0%, 100%);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  height: 100%;
  box-sizing: border-box;

  body {
    height: 100%;
  }
}
h1 {
  @apply text-6xl font-semibold;
}
h2 {
  @apply text-4xl font-semibold;
}
h3 {
  @apply text-xl font-semibold;
}

a:link,
a:visited {
}
a:hover,
a:active {
}
