@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: hsl(0, 0%, 100%);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  height: 100%;

  body {
    min-height: 100%;
  }
}
h1 {
  @apply text-6xl font-semibold;
}

h2 {
  @apply text-3xl font-semibold tracking-tight;
}
h3 {
  @apply text-2xl font-semibold;
}
.bold-list {
  @apply text-lg font-semibold;
}
